<div style="text-align: center">
    <label id="example-radio-group-label">Selecione o filtro desejado </label>
    <mat-radio-group
            aria-labelledby="example-radio-group-label"
            class="example-radio-group"
            [(ngModel)]="filtroSelecionado">
        <mat-radio-button class="example-radio-button" *ngFor="let filtro of filtros" [value]="filtro">
            {{filtro?.label}}
        </mat-radio-button>
    </mat-radio-group>
    <!--  <div>Your favorite season is: {{favoriteSeason?.value}}</div>-->
    <div mat-dialog-actions>
        <button mat-button (click)="onDismiss()">Cancelar</button>
        <button class="btn btn-primary padrao-color" mat-raised-button (click)="onConfirm()"> Filtrar
        </button>
    </div>
</div>
