<mat-card>
    <mat-card-header>

        <mat-card-title>Atualizar Estado {{ state.name }}</mat-card-title>
    </mat-card-header>



    <form>
        <mat-form-field>
            <input matInput placeholder="Nome do Estado" [(ngModel)]="state.name" name="name">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="SIGLA" [(ngModel)]="state.initials" name="initials" required>
        </mat-form-field>
    </form>


    <button mat-raised-button (click)="updateState()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelState()" color="">
        Cancelar
    </button>

</mat-card>